@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
* {
  font-family: "Josefin Sans", sans-serif;
  /*css reset*/
  padding: 0;
  margin: 0;
}
:root {
  --Bright-Blue: hsl(220, 98%, 61%);
  --linear-gradient-start: hsl(192, 100%, 67%);
  --linear-gradient-end: hsl(280, 87%, 65%);
  --Body-BG: hsl(235, 21%, 11%);
  --Main-BG: hsl(235, 24%, 19%);
  --Text: hsl(234, 39%, 85%);
  --Hover: hsl(236, 33%, 92%);
  --Active-filter: hsl(234, 11%, 52%);
  --Inactive-filter: hsl(233, 14%, 35%);
  --Underline: hsl(237, 14%, 26%);
}

body {
  background-image: url(./images/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
  background-color: var(--Body-BG);
  color: var(--Text);
  font-size: 12px;
}
button:hover {
  cursor: pointer;
}
button,
input {
  background-color: transparent;
  border: none;
  color: inherit;
  font-size: 12px;
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 400px;
}
form,
section {
  background-color: var(--Main-BG);
}
form {
  margin-bottom: 10px;
  padding: 8px;
}

#add {
  width: 100%;
  height: 20px;
}
form span {
  height: 20px;
  width: 20px;
  display: inline-block;
  border: var(--Text) 2px solid;
  border-radius: 50%;
}
.single-task,
.filters {
  padding: 8px;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.flex {
  display: flex;
  gap: 3px;
  align-items: center;
}
.between {
  justify-content: space-between;
  align-items: center;
}
